<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{title}}</title>
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/datepicker3.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
	
	<!--Custom Font-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span></button>
				<a class="navbar-brand" href="#"><span>Twitter</span> Trendz </a>
				
			</div>
		</div><!-- /.container-fluid -->
	</nav>
	
		
	<div class="col-sm-9 col-sm-offset-1 col-lg-10 col-lg-offset-1 main">
		
		
          


		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Sentiment Analyzer</h1>
			</div>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-xs-6 col-md-3">
				<div class="panel panel-default">
					<div class="panel-body easypiechart-panel">

						<h4>Top Trending Tweet</h4>
						<p ><span id="easy_pie1" class="percent">56%</span></p>

					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-3">
				<div class="panel panel-default">
					<div class="panel-body easypiechart-panel">
						<h4>Most Positive Trend</h4>
						<p ><span id="easy_pie2" class="percent">92%</span></p>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-3">
				<div class="panel panel-default">
					<div class="panel-body easypiechart-panel">
						<h4>Most Negative Trend</h4>
						<p><span id="easy_pie3" class="percent">65%</span></p>
					</div>
				</div>
			</div>
			<div class="col-xs-6 col-md-3">
				<div class="panel panel-default">
					<div class="panel-body easypiechart-panel">
						<h4>Most Neutral Trend</h4>
						<p><span id="easy_pie4" class="percent">27%</span></p>
					</div>
				</div>
			</div>
		</div><!--/.row-->
				
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						Top Ten Twitter Trends in Canada
						<ul class="pull-right panel-settings panel-button-tab-right">
							<li class="dropdown"><a class="pull-right dropdown-toggle" data-toggle="dropdown" href="#">
								<em class="fa fa-cogs"></em>
							</a>
								
							</li>
						</ul>
						<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
					<div class="panel-body">
						<div class="canvas-wrapper">
							<canvas class="main-chart" id="bar-chart" height="200" width="600"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div><!--/.row-->		


		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading" style="font-weight: bold;">
						Sentiment Analysis of Tweets 
						
						<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
					<div class="panel-body">
						<div class="canvas-wrapper">
							<p style="text-align: center;">Visualizations, below analyzes the sentiments of tweets for each of the above Trends and is categorised into postive, negative and neutral sentiments</p>
						</div>
					</div>
				</div>
			</div>
		</div><!--/.row-->	


		
		<div class="row">
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<span id="pie_title1" style="font-weight: bold;"> Pie chart 1</span>
						<ul class="pull-right panel-settings panel-button-tab-right">
							<li class="dropdown"><a id="search1" class="pull-right dropdown-toggle" data-toggle="dropdown" href="#">
								<em class="fa fa-cogs"></em>
							</a>
								
							</li>
						</ul>
						<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
					<div class="panel-body">
						<div class="canvas-wrapper">
							<canvas class="chart" id="pie-chart1" ></canvas>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<span id="pie_title2" style="font-weight: bold;"> Pie chart 2</span>
						<ul class="pull-right panel-settings panel-button-tab-right">
							<li class="dropdown"><a id="search2" class="pull-right dropdown-toggle" data-toggle="dropdown" href="#">
								<em class="fa fa-cogs"></em>
							</a>
								
							</li>
						</ul>
						<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
					<div class="panel-body">
						<div class="canvas-wrapper">
							<canvas class="chart" id="pie-chart2" ></canvas>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<span id="pie_title3" style="font-weight: bold;"> Pie chart 3</span>
						<ul class="pull-right panel-settings panel-button-tab-right">
							<li class="dropdown"><a id="search3" class="pull-right dropdown-toggle" data-toggle="dropdown" href="#">
								<em class="fa fa-cogs"></em>
							</a>
								
							</li>
						</ul>
						<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
					<div class="panel-body">
						<div class="canvas-wrapper">
							<canvas class="chart" id="pie-chart3" ></canvas>
						</div>
					</div>
				</div>
			</div>
		</div><!--/.row-->
		
		<div class="row">
			
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<span id="pie_title4" style="font-weight: bold;"> Pie chart 4</span>
						<ul class="pull-right panel-settings panel-button-tab-right">
							<li class="dropdown"><a id="search4" class="pull-right dropdown-toggle" data-toggle="dropdown" href="#">
								<em class="fa fa-cogs"></em>
							</a>
								
							</li>
						</ul>
						<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
					<div class="panel-body">
						<div class="canvas-wrapper">
							<canvas class="chart" id="pie-chart4" ></canvas>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<span id="pie_title5" style="font-weight: bold;"> Pie chart 5</span>
						<ul class="pull-right panel-settings panel-button-tab-right">
							<li class="dropdown"><a id="search5" class="pull-right dropdown-toggle" data-toggle="dropdown" href="#">
								<em class="fa fa-cogs"></em>
							</a>
								
							</li>
						</ul>
						<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
					<div class="panel-body">
						<div class="canvas-wrapper">
							<canvas class="chart" id="pie-chart5" ></canvas>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<span id="pie_title6" style="font-weight: bold;"> Pie chart 6</span>
						<ul class="pull-right panel-settings panel-button-tab-right">
							<li class="dropdown"><a id="search6" class="pull-right dropdown-toggle" data-toggle="dropdown" href="#">
								<em class="fa fa-cogs"></em>
							</a>
								
							</li>
						</ul>
						<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
					<div class="panel-body">
						<div class="canvas-wrapper">
							<canvas class="chart" id="pie-chart6" ></canvas>
						</div>
					</div>
				</div>
			</div>
		</div><!--/.row-->

		<div class="row">
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<span id="pie_title7" style="font-weight: bold;"> Pie chart 7</span>
						<ul class="pull-right panel-settings panel-button-tab-right">
							<li class="dropdown"><a id="search7" class="pull-right dropdown-toggle" data-toggle="dropdown" href="#">
								<em class="fa fa-cogs"></em>
							</a>
								
							</li>
						</ul>
						<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
					<div class="panel-body">
						<div class="canvas-wrapper">
							<canvas class="chart" id="pie-chart7" ></canvas>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<span id="pie_title8" style="font-weight: bold;"> Pie chart 8</span>
						<ul class="pull-right panel-settings panel-button-tab-right">
							<li class="dropdown"><a id="search8" class="pull-right dropdown-toggle" data-toggle="dropdown" href="#">
								<em class="fa fa-cogs"></em>
							</a>
								
							</li>
						</ul>
						<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
					<div class="panel-body">
						<div class="canvas-wrapper">
							<canvas class="chart" id="pie-chart8" ></canvas>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<span id="pie_title9" style="font-weight: bold;"> Pie chart 9</span>
						<ul class="pull-right panel-settings panel-button-tab-right">
							<li class="dropdown"><a id="search9" class="pull-right dropdown-toggle" data-toggle="dropdown" href="#">
								<em class="fa fa-cogs"></em>
							</a>
								
							</li>
						</ul>
						<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
					<div class="panel-body">
						<div class="canvas-wrapper">
							<canvas class="chart" id="pie-chart9" ></canvas>
						</div>
					</div>
				</div>
			</div>

		</div><!--/.row-->


		<div class="row">
			
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<span id="pie_title10" style="font-weight: bold;"> Pie chart 10</span>
						<ul class="pull-right panel-settings panel-button-tab-right">
							<li class="dropdown"><a id="search10" class="pull-right dropdown-toggle" data-toggle="dropdown" href="#">
								<em class="fa fa-cogs"></em>
							</a>
								
							</li>
						</ul>
						<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
					<div class="panel-body">
						<div class="canvas-wrapper">
							<canvas class="chart" id="pie-chart10" ></canvas>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				
				<div id="twitter-feed"></div>
			</div>
			<div class="col-sm-12">
				<p class="back-link">Project powered by <a href="">Azure</a></p>
			</div>
		</div><!--/.row-->
	</div>	<!--/.main-->
	  

	<script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<!--<script src="{{ url_for('static', filename='js/chart.min.js') }}"></script> !-->
	<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js'></script>
	<script src="{{ url_for('static', filename='js/chart-data.js') }}"></script>
	<script src="{{ url_for('static', filename='js/easypiechart.js') }}"></script>
	<script src="{{ url_for('static', filename='js/easypiechart-data.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap-datepicker.js') }}"></script>
	<script src="{{ url_for('static', filename='js/custom.js') }}"></script>
	<script>
	window.onload = function () {
	
	window.chartColors = {
	red: 'rgb(255, 99, 132)',
	orange: 'rgb(255, 159, 64)',
	yellow: 'rgb(255, 205, 86)',
	green: 'rgb(75, 192, 192)',
	blue: 'rgb(54, 162, 235)',
	purple: 'rgb(153, 102, 255)',
	grey: 'rgb(231,233,237)',
	lime: "rgb(191, 255, 0)", 
	light_green: "rgb(0, 255, 64)",
	light_blue: "rgb(0, 191, 255)",
	custom: "rgb(191, 0, 255)"
	};
	

	//bar chart code
	var chart1 = document.getElementById("bar-chart").getContext("2d");
	trend_var = '{{trends|tojson}}';

    var parsed = JSON.parse(trend_var);
    var bar_labels = [];
    var bar_data = [];
    for (var i = 0; i < parsed.length; i++) {
 		 bar_labels.push(parsed[i].trend);
 		 bar_data.push(parsed[i].tweet_vol);
	}

	//bar chart data variable

	var barChartData = {
			labels: bar_labels,
			datasets: [{
				label: 'data1',
				backgroundColor: [
						window.chartColors.red,
						window.chartColors.orange,
						window.chartColors.yellow,
						window.chartColors.green,
						window.chartColors.blue,
						window.chartColors.purple,
						window.chartColors.light_blue,
						window.chartColors.lime,
						window.chartColors.light_green,
						window.chartColors.light_blue
					],
				borderColor: window.chartColors.red,
				borderWidth: 1,
				data: bar_data
			}]

		};

	//drawing bar chart
  
	
    window.myBar = new Chart(chart1, {
				type: 'bar',
				data: barChartData,
				options: {
					responsive: true,
					legend: {
        				display: false
    				},
    				tooltips: {
        				callbacks: {
           					label: function(tooltipItem) {
                 			 return tooltipItem.yLabel;
           					}
        				}
    				},
					title: {
						display: false,
						text: 'Chart.js Bar Chart'
					}
				}
			});
	
    //pie chart piedata1

    pie_values = '{{values|tojson}}';
	var pie_values_parsed = JSON.parse(pie_values);
	var count;
	var positive = 0;
	var negative = 0;
	var neutral = 0;
	var neutral_pos = 0;
	var positive_pos = 0;
	var negative_pos = 0;

	 for(count = 0; count < pie_values_parsed.length; count++) {
               
	 			if( pie_values_parsed[count].positive >= positive ){ positive = pie_values_parsed[count].positive; positive_pos = count;}
	 			if( pie_values_parsed[count].negative >= negative ){ negative = pie_values_parsed[count].negative; negative_pos = count;}
	 			if( pie_values_parsed[count].neutral >= neutral ){ neutral = pie_values_parsed[count].neutral; neutral_pos = count;}
            }
	
	var pieData1 = {
			type: 'pie',
			data: {
				datasets: [{
					data: [pie_values_parsed[0].positive,pie_values_parsed[0].negative,pie_values_parsed[0].neutral],
					backgroundColor: [
						window.chartColors.green,
						window.chartColors.red,
						window.chartColors.yellow,
					],
					label: 'Dataset 1'
				}],
				labels : [
          			{% for item in label %}
           				"{{ item }}",
          			{% endfor %}
					]
			},
			options: {
				responsive: true
			}
		};
		// pie chart data2
		var pieData2 = {
			type: 'pie',
			data: {
				datasets: [{
					data: [pie_values_parsed[1].positive,pie_values_parsed[1].negative,pie_values_parsed[1].neutral],
					backgroundColor: [
						window.chartColors.green,
						window.chartColors.red,
						window.chartColors.yellow,
					],
					label: 'Dataset 1'
				}],
				labels : [
          			{% for item in label %}
           				"{{ item }}",
          			{% endfor %}
					]
			},
			options: {
				responsive: true
			}
		};

		//pie chart data 3
		var pieData3 = {
			type: 'pie',
			data: {
				datasets: [{
					data: [pie_values_parsed[2].positive,pie_values_parsed[2].negative,pie_values_parsed[2].neutral],
					backgroundColor: [
						window.chartColors.green,
						window.chartColors.red,
						window.chartColors.yellow,
					],
					label: 'Dataset 1'
				}],
				labels : [
          			{% for item in label %}
           				"{{ item }}",
          			{% endfor %}
					]
			},
			options: {
				responsive: true
			}
		};

		//pie chart data 4
		var pieData4 = {
			type: 'pie',
			data: {
				datasets: [{
					data: [pie_values_parsed[3].positive,pie_values_parsed[3].negative,pie_values_parsed[3].neutral],
					backgroundColor: [
						window.chartColors.green,
						window.chartColors.red,
						window.chartColors.yellow,
					],
					label: 'Dataset 1'
				}],
				labels : [
          			{% for item in label %}
           				"{{ item }}",
          			{% endfor %}
					]
			},
			options: {
				responsive: true
			}
		};

		//pie chart data 5
		var pieData5 = {
			type: 'pie',
			data: {
				datasets: [{
					data: [pie_values_parsed[4].positive,pie_values_parsed[4].negative,pie_values_parsed[4].neutral],
					backgroundColor: [
						window.chartColors.green,
						window.chartColors.red,
						window.chartColors.yellow,
					],
					label: 'Dataset 1'
				}],
				labels : [
          			{% for item in label %}
           				"{{ item }}",
          			{% endfor %}
					]
			},
			options: {
				responsive: true
			}
		};


		//pie chart data 6
		var pieData6 = {
			type: 'pie',
			data: {
				datasets: [{
					data: [pie_values_parsed[5].positive,pie_values_parsed[5].negative,pie_values_parsed[5].neutral],
					backgroundColor: [
						window.chartColors.green,
						window.chartColors.red,
						window.chartColors.yellow,
					],
					label: 'Dataset 1'
				}],
				labels : [
          			{% for item in label %}
           				"{{ item }}",
          			{% endfor %}
					]
			},
			options: {
				responsive: true
			}
		};

		//pie chart data 4
		var pieData7 = {
			type: 'pie',
			data: {
				datasets: [{
					data: [pie_values_parsed[6].positive,pie_values_parsed[6].negative,pie_values_parsed[6].neutral],
					backgroundColor: [
						window.chartColors.green,
						window.chartColors.red,
						window.chartColors.yellow,
					],
					label: 'Dataset 1'
				}],
				labels : [
          			{% for item in label %}
           				"{{ item }}",
          			{% endfor %}
					]
			},
			options: {
				responsive: true
			}
		};

		//pie chart data 4
		var pieData8 = {
			type: 'pie',
			data: {
				datasets: [{
					data: [pie_values_parsed[7].positive,pie_values_parsed[7].negative,pie_values_parsed[7].neutral],
					backgroundColor: [
						window.chartColors.green,
						window.chartColors.red,
						window.chartColors.yellow,
					],
					label: 'Dataset 1'
				}],
				labels : [
          			{% for item in label %}
           				"{{ item }}",
          			{% endfor %}
					]
			},
			options: {
				responsive: true
			}
		};

		//pie chart data 4
		var pieData9 = {
			type: 'pie',
			data: {
				datasets: [{
					data: [pie_values_parsed[8].positive,pie_values_parsed[8].negative,pie_values_parsed[8].neutral],
					backgroundColor: [
						window.chartColors.green,
						window.chartColors.red,
						window.chartColors.yellow,
					],
					label: 'Dataset 1'
				}],
				labels : [
          			{% for item in label %}
           				"{{ item }}",
          			{% endfor %}
					]
			},
			options: {
				responsive: true
			}
		};

		//pie chart data 4
		var pieData10 = {
			type: 'pie',
			data: {
				datasets: [{
					data: [pie_values_parsed[9].positive,pie_values_parsed[9].negative,pie_values_parsed[9].neutral],
					backgroundColor: [
						window.chartColors.green,
						window.chartColors.red,
						window.chartColors.yellow,
					],
					label: 'Dataset 1'
				}],
				labels : [
          			{% for item in label %}
           				"{{ item }}",
          			{% endfor %}
					]
			},
			options: {
				responsive: true
			}
		};

	var chart2 = document.getElementById("pie-chart1").getContext("2d");
	window.myPie = new Chart(chart2, pieData1);
	//<span id="pie_title1"> Pie chart 2</span>
	// alert(pie_values_parsed[positive_pos].positive);
	// alert(pie_values_parsed[negative_pos].negative);
	// alert(pie_values_parsed[negative_pos].negative);

	document.getElementById("easy_pie1").textContent=parsed[0].trend;
	// document.getElementById('easypiechart-teal').setAttribute('data-percent', Math.round(pie_values_parsed[0].positive));

	document.getElementById("easy_pie2").textContent=parsed[positive_pos].trend;
	// document.getElementById('easypiechart-blue').setAttribute('data-percent', Math.round(pie_values_parsed[positive_pos].positive));

	document.getElementById("easy_pie3").textContent=parsed[negative_pos].trend;
	// document.getElementById('easypiechart-orange').setAttribute('data-percent', Math.round(pie_values_parsed[negative_pos].negative));

	document.getElementById("easy_pie4").textContent=parsed[neutral_pos].trend;
	// document.getElementById('easypiechart-red').setAttribute('data-percent', Math.round(pie_values_parsed[neutral_pos].neutral));


	document.getElementById("pie_title1").textContent=parsed[0].trend;

	document.getElementById("search1").onclick = function() {

		link = "https://twitter.com/hashtag/tag=" + parsed[0].trend;
		window.open(link, '_blank');
		
	};


	var chart3 = document.getElementById("pie-chart2").getContext("2d");
	window.myPie = new Chart(chart3, pieData2);
	document.getElementById("pie_title2").textContent=parsed[1].trend;

	document.getElementById("search2").onclick = function() {

		link = "https://twitter.com/hashtag/tag=" + parsed[1].trend;
		window.open(link, '_blank');
		
	};


	var chart4 = document.getElementById("pie-chart3").getContext("2d");
	window.myPie = new Chart(chart4, pieData3);
	document.getElementById("pie_title3").textContent=parsed[2].trend;

	document.getElementById("search3").onclick = function() {

		link = "https://twitter.com/hashtag/tag=" + parsed[2].trend;
		window.open(link, '_blank');
		
	};

	var chart5 = document.getElementById("pie-chart4").getContext("2d");
	window.myPie = new Chart(chart5, pieData4);
	document.getElementById("pie_title4").textContent=parsed[3].trend;

	document.getElementById("search4").onclick = function() {

		link = "https://twitter.com/hashtag/tag=" + parsed[3].trend;
		window.open(link, '_blank');
		
	};


	var chart6 = document.getElementById("pie-chart5").getContext("2d");
	window.myPie = new Chart(chart6, pieData5);
	document.getElementById("pie_title5").textContent=parsed[4].trend;

	document.getElementById("search5").onclick = function() {

		link = "https://twitter.com/hashtag/tag=" + parsed[4].trend;
		window.open(link, '_blank');
		
	};

	var chart7 = document.getElementById("pie-chart6").getContext("2d");
	window.myPie = new Chart(chart7, pieData6);
	document.getElementById("pie_title6").textContent=parsed[5].trend;

	document.getElementById("search6").onclick = function() {

		link = "https://twitter.com/hashtag/tag=" + parsed[5].trend;
		window.open(link, '_blank');
		
	};

	var chart8 = document.getElementById("pie-chart7").getContext("2d");
	window.myPie = new Chart(chart8, pieData7);
	document.getElementById("pie_title7").textContent=parsed[6].trend;

	document.getElementById("search7").onclick = function() {

		link = "https://twitter.com/hashtag/tag=" + parsed[6].trend;
		window.open(link, '_blank');
		
	};

	var chart9 = document.getElementById("pie-chart8").getContext("2d");
	window.myPie = new Chart(chart9, pieData8);
	document.getElementById("pie_title8").textContent=parsed[7].trend;

	document.getElementById("search8").onclick = function() {

		link = "https://twitter.com/hashtag/tag=" + parsed[7].trend;
		window.open(link, '_blank');
		
	};

	var chart10 = document.getElementById("pie-chart9").getContext("2d");
	window.myPie = new Chart(chart10, pieData9);
	document.getElementById("pie_title9").textContent=parsed[8].trend;

	document.getElementById("search9").onclick = function() {

		link = "https://twitter.com/hashtag/tag=" + parsed[8].trend;
		window.open(link, '_blank');
		
	};

	var chart11 = document.getElementById("pie-chart10").getContext("2d");
	window.myPie = new Chart(chart11, pieData10);
	document.getElementById("pie_title10").textContent=parsed[9].trend;

	document.getElementById("search10").onclick = function() {

		link = "https://twitter.com/hashtag/tag=" + parsed[9].trend;
		window.open(link, '_blank');
		
	};
	
};
	</script>	
</body>
</html>
